version: "3.7"
services:
  discordbot:
    build: 
      context: .
      dockerfile: docker/Dockerfile
    image: florian987/captainbot
    ports:
      - "5000:5000"
    env_file:
      .env
    depends_on:
      - "postgres"
  postgres:
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: discordbot
      POSTGRES_USER: discordbot
    volumes:
      - ./pgdata:/var/lib/postgresql/data
