[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.3.2"
"bs4" = "==0.0.1"
"discord.py" = {extras = ["voice"]}
yarl = "==1.2.6"
websockets = "*"
pyyaml = "*"
youtube-dl = "*"
pyflakes = "==1.6.0"
pynacl = "*"
fuzzywuzzy = "*"
pillow = "*"
aiodns = "*"
unidecode = "*"
asyncpg = "*"
inflect = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-import-order" = "*"
"flake8-string-format" = "*"
"flake8-tidy-imports" = "*"
"flake8-todo" = "*"
unidecode = "*"
pep8 = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python -m bot"
lint = "python -m flake8"
build = "docker build -t registry.gitlab.com/jffz/discordbot:latest -f docker/Dockerfile ."
push = "docker push registry.gitlab.com/jffz/discordbot:latest"
buildbase = "docker build -t registry.gitlab.com/jffz/discordbot:base -f docker/Dockerfile.base ."
pushbase = "docker push registry.gitlab.com/jffz/discordbot:base"
buildci = "docker build -t registry.gitlab.com/jffz/discordbot:ci -f docker/ci.Dockerfile ."
pushci = "docker push registry.gitlab.com/jffz/discordbot:ci"
