[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.3.2"
"bs4" = "==0.0.1"
"discord.py" = {file = "https://github.com/Rapptz/discord.py/archive/rewrite.zip", extras = ["voice"]}
selenium = "==3.13.0"
yarl = "==1.2.6"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
